@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Application</h1>

<div>
    <a href="@Url.Action("ObjectRecognition", "ObjectRecognition")" class="btn btn-primary">Start Object Recognition</a>
    <a href="@Url.Action("Scan", "Attendance")" class="btn btn-primary">Scan Attendance</a>
</div>
